<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DefaultConnectionString" value="Server=test.glambox.com.br;Database=Glambox.BRA;User Id=sa;Password=sa2005..."/>
  </appSettings>
</configuration>